<p class="text-3xl">
  welcome to <%= @user.username %>'s page'
</p>

<div class="max-w-full rounded overflow-hidden shadow-lg">
  <%= gravatar_for @user%>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= @user.username %>'s rentals</div>
  </div>
  <%= render 'rentals/rental' , obj: @user.rentals%>
</div>
