<h1>#show</h1>
<p>
  title: <%= @rental.title %>
</p>
<p>
  description: <%= @rental.description %>
</p>
<p>
<%= link_to 'edit', edit_rental_path(@rental) %>
</p>
<p>
<%= link_to 'rentals listing', rentals_path %>
</p>


