<p>edit category name</p>
<%= render 'form' %>
          <p><%= link_to 'delete category', category_path(@category), method: :delete,data: { confirm: 'Are you sure you want to delete the category and all of their rentals?' } %></p>
